# Apple files
.DS_Store
Testing/.DS_Store
Testing/API/.DS_Store
Testing/API/static/.DS_Store
Testing/API/templates/.DS_Store

# the Service categories part (these are all ttl files)
ServiceCategories

# output files that are produced (TTL and vocabulary)
TTL/*
JSON-LD/*
Testing/Vocabulary/Vocabulary.txt
JSON-LD
TTL
TTL/bodies.ttl
TTL/cgpm.ttl
TTL/cipm.ttl
TTL/cctf.ttl
TTL/si.ttl
TTL/constants.ttl
TTL/quantities.ttl
TTL/prefixes.ttl
TTL/units.ttl
TTL/decisions.ttl
JSON-LD/bodies.ttl
JSON-LD/cgpm.ttl
JSON-LD/cipm.ttl
JSON-LD/cctf.ttl
JSON-LD/si.ttl
JSON-LD/constants.ttl
JSON-LD/quantities.ttl
JSON-LD/prefixes.ttl
JSON-LD/units.ttl
JSON-LD/decisions.ttl
*.zip
TTL/
JSON-LD/

# cache files
__pycache__
Testing/API/__pycache__
/build
src/si_ref_point.egg-info/

# playground
Testing/API/exercise.py
Testing/API/unit_parser.py

.idea/

# IDE config
.vscode/

# Pyenv
.python-version

# npm environment
node_modules