# Apple files
.DS_Store
Testing/.DS_Store
Testing/API/.DS_Store
Testing/API/static/.DS_Store
Testing/API/templates/.DS_Store

# the Service categories part (these are all ttl files)
ServiceCategories

# output files that are produced (TTL and vocabulary)
TTL/
JSONLD/
Testing/Vocabulary/Vocabulary.txt
*.zip


# cache files
__pycache__
Testing/API/__pycache__
/build
src/si_ref_point.egg-info/

# playground
Testing/API/exercise.py
Testing/API/unit_parser.py

.idea/

# IDE config
.vscode/

# Pyenv
.python-version

