<!DOCTYPE html>
<html lang="">
<head>
     <title>Prefixes</title>
</head>
<body>    
    {% extends 'ParentLayout.html' %}
    {% block main %}    
    <h1>Prefixes</h1>
    <table style="width: 600px;">
        <thead>
            <tr>
                <th style="width: 100px;">Symbol</th>
                <th style="width: 200px;">Factor</th>
                <th style="width: 300px;">English Name</th>
                <th style="width: 300px;">Nom Français</th>
            </tr>
        </thead>
        <tbody>
        {% for prefix in prefixes %}
            <tr>
                <td><strong>{{ prefix.sym }}</strong></td>
                <td>{{ prefix.factor }}</td>
                <td>{{ prefix.eText }}</td>
                <td>{{ prefix.fText }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</body>
</html>