<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <title>Base Units</title>
</head>
<body>
    {% extends 'ParentLayout.html' %}
    {% block main %}
    <div>
        <h1>SI Base Units</h1>
        {% for unit in units %}
            {% set url_address = '../si-baseunit/' ~ unit.Symbol ~'?lang=' ~language %}   
            <h2><a href="{{url_address}}"> {{unit.Label}}</a></h2>
            <p><i>Definition: </i>{{unit.Definition}}</p>
            
        {% endfor %}
    </div>
{% endblock %}
</body>
</html>


<a href="{{unit.Q_Link}}">{{unit.Q_Label}}</a>