<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <title>Conferences</title>
</head>
<body>
    {% extends 'ParentLayout.html' %}
    {% block main %}
    {% if lang == 'en' %}
        <h1>Conferences</h1>
        {% for Conference in Conferences %}
            <h2><a href="{{Conference.Link}}?lang={{lang}}">{{Conference.Title}}</a> ({{Conference.Year}})</h2>
        {% endfor %}
    
    {% elif lang =='fr' %}
        <h1>Conférences</h1>
           {% for Conference in Conferences %}
               <h2><a href="{{Conference.Link}}?lang={{lang}}">{{Conference.Title}}</a> ({{Conference.Year}})</h2>
           {% endfor %}
    {% endif %}
    {% endblock %}
</body>
</html>