<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <title>Defining Constants</title>
</head>
<body>
    {% extends 'ParentLayout.html' %}
    {% block main %}
    <h1>Defining Constants</h1>
    {% for con in cons %}
        {% set cst_url_address = con.cst ~'?lang=' ~lang %}   
        {% if lang == 'en' %}
            <h2><a href="{{cst_url_address}}">{{con.eText}}</a></h2>
        {% elif lang == 'fr' %}
            <h2><a href="{{cst_url_address}}">{{con.fText}}</a></h2>
        {%  endif %}
    {% endfor %}
{% endblock %}
</body>
</html>